*{
    margin: 0;
    padding: 0;
}
.bar{
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 60px;
    background-color: rgb(247, 247, 242);
    margin-top: 20px;
    width: 80vw;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
}
.bar p{
    width: 80%;
    text-align: center;
    font-size: 21px;
}
.bar .symbol{
    font-size: 30px;
    text-align: right;
    width: 15%;
    font-weight: 900;
}
.newBox{
    padding: 10px;
    background-color: rgb(247, 247, 242);
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
    border-radius: 5px;
}
.hidden{
    display: none;
}
ol{
    margin-left: 20px;
}
.bar:hover{
    background-color: rgba(247, 247, 242,0.8);
}
main{
    padding-top: 60px;
}
.photo{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}
.img{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px rgb(29, 25, 25);
    background-image: url('shivansh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.box .content ul .top{
    font-size: 21px;
    font-weight: 700;
}
.newBox ol li{
    font-size: 18px;
}