*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
    overflow: auto;
}
/* body::-webkit-scrollbar{
    display: none;
} */
/* nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(29, 25, 25);
    height: 60px;
    position: fixed;
    width: 100vw;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
nav ul li{
    list-style: none;
} */
nav ul li a{
    text-decoration: none;
    color: white;
}
.space{
    width: 40%;
}
.main{
    padding-top: 60px;
    height: 90vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
}
.big{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: white;
}
.left{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.box{
    width: 75vw;
    min-width: 75vw;
    max-width: 95vw;
    min-height: 40vh;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(27, 26, 26);
    margin: 100px auto;
    background-color: rgb(247, 247, 242);
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
    transform: scale(1.0);
    transition: transform 0.1s linear;
}

.box::-webkit-scrollbar{
    display: none;
}

.box:hover{
    /* width: 80vw; */
    transform: scale(1.02);
    box-shadow: 4px 4px rgb(94, 94, 94);
}

.footer{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 25, 25);
}
.sm{
    font-size: 21px;
    color: white;
}
.contact{
    min-height: 40vh;
    background-color: rgb(247, 247, 242);
}
.dark{
    color: black;
    text-align: center;
}
.center{
    width: 80%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
input{
    width: 25vw;
    padding: 10px;
}
.center form div{
    margin-bottom: 20px;
}
button{
    color: white;
    background-color: gray;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px ;
}
button:hover{
    width: 105px;
    height: 45px;
}
.button{
    margin-left: 40%;
    display: inline-block;
}
h1{
    text-align: center;
}
.content{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content ul li{
    font-size: 18px;
    list-style: none;
    margin-bottom: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 1px 2px rgb(33, 33, 33);
}
.btn:hover{
    box-shadow: 2px 4px rgb(54, 59, 57);
}
.btn a{
    text-decoration: none;
    color: white;
}
.bottom{
    width: 50%;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    color: white;
}

.nav1 {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: end;
}

.menu {
    position: absolute;
    top: 2vmin;
    left: 4vmin;
    transform: rotate(90deg);
    display: none;
    font-size: 30px;
}

.close{
    position: absolute;
    top: 2vmin;
    left: 4vmin;
    color: white;
}

#hide{
    display: none;
}

#display{
    display: block;
}

.ul1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav2 {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 40vh;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul2 {
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}

.nav2 .ul2 li {
    margin: 2px;
    padding: 5px;
}

@media(max-width:769px){
    .bottom{
        width: 100%;
    }
    .big{
        font-size: 20px;
    }
    .left{
        width: 100%;
    }
}